name: Build CloudStream Extensions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        continue-on-error: true

      - name: Build with Gradle
        run: ./gradlew make

      - name: Upload Release
        uses: actions/upload-artifact@v3
        with:
          name: CloudStream-Extensions
          path: "**/*.cs3"
